<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Title</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">

    <!--[if lt IE 9]>
    <script src="assets/html5shiv/html5shiv-printshiv.js"></script>
    <script src="assets/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<!--顶部通栏-->
<header class="wjs_topBar hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="wjs_app">
                    <span class="wjs_icon wjs_icon_phone"></span>
                    <span>手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="images/code.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs-icon_tel"></span>
                <span>4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>
                <a href="#">财富登录</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-danger btn-register">免费注册</a>
                <a href="#" class="btn btn-link btn-login">登录</a>
            </div>
        </div>
    </div>
</header>


<nav class="navbar wjs_nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--商标区域-->
            <a class="navbar-brand" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_name"></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>

        </div>
    </div>
</nav>




<div class="wjs_banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <!--todo-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!--todo-->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</div>



<!--信息区域-->
<section class="wjs_info hidden-xs">
    <div class="container">
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="javascript:;" class="media">
                <div class="media-left">
                    <span class="wjs_icon wjs_icon_dollar"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全称保证支付安全</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!--预约区域-->
<section class="wjs_book">
    <div class="container">
        <div class="pull-left">
            <span class="wjs_icon wjs_icon_clock"></span>
            现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？
            <a href="#" class="book">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <a href="#" class="video"><span class="wjs_icon wjs_icon_video"></span> 微金所企业宣传片</a>
        </div>
    </div>
</section>


<!--                          产品区域-->
<section class="wjs_product">
    <div class="container">
        <!--页签 tab 按钮-->
        <div class="nav-tabs-parent">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#wjs_product_01" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_02" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_03" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_04" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_05" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_06" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_07" data-toggle="tab">特别推荐</a></li>
            </ul>
        </div>

        <!--内容-->
        <div class="tab-content">
            <div class="tab-pane active" id="wjs_product_01">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box active">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6 text-right">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6 text-right">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                        
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <div class="tips">
                                <span class="red" data-toggle="tooltip" data-placement="top" title="微金所">微</span>
                                <span class="green" data-toggle="tooltip" data-placement="bottom" title="山东省">鲁</span>
                            </div>
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div>
                        </div>

                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div>
                        </div>

                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额</p>
                                <p>0.01万</p>
                            </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div><div class="col-xs-6 text-right">
                            <p>起投金额</p>
                            <p>0.01万</p>
                        </div>
                        </div>

                    </a>
                </div>



            </div>
            <div class="tab-pane" id="wjs_product_02">2</div>
            <div class="tab-pane" id="wjs_product_03">3</div>
            <div class="tab-pane" id="wjs_product_04">4</div>
            <div class="tab-pane" id="wjs_product_05">5</div>
            <div class="tab-pane" id="wjs_product_06">6</div>
            <div class="tab-pane" id="wjs_product_07">7</div>
        </div>
    </div>

</section>


<section class="wjs_news">
    <div class="container">
        <div class="col-md-2 col-md-offset-2">
            <h3 class="wjs_news_tittle">全部新闻</h3>
        </div>
        <div class="col-md-1">
            <div class="wjs_news_line hidden-xs hidden-sm"></div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="wjs_icon wjs_icon_news_01"></span></a></li>
                <li><a href="#profile" data-toggle="tab"><span class="wjs_icon wjs_icon_news_02"></span></a></li>
                <li><a href="#message" data-toggle="tab"><span class="wjs_icon wjs_icon_news_03"></span></a></li>
                <li><a href="#settings" data-toggle="tab"><span class="wjs_icon wjs_icon_news_04"></span></a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <ul class="wjs_news_con">
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="profile">2</div>
                <div class="tab-pane" id="message">3</div>
                <div class="tab-pane" id="settings">4</div>
            </div>>
        </div>
    </div>
</section>


<!--合作伙伴-->
<footer class="wjs_partner">
    <div class="container">
        <h3 class="text-center">合作伙伴</h3>
        <ul>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner01"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner02"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner03"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner04"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner05"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner06"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner07"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner08"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner09"></span></a></li>
        </ul>
    </div>
</footer>








<script type="text/template" id="pointTemplate">
{{ each $data }}
    <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" class="{{$index==0?'active':''}}"></li>
{{ /each}}
</script>
<script type="text/template" id="imageTemplate">
    <% for(var i =0 ; i< list.length;i++){ %>
        <% var item =list[i]; %>
        <div class="item <%=i==0?'active':''%>">
            <% if(isM){ %>
            <a href="#" class="img_m"><img src="<%= item.xsUrl%>" alt=""></a>
            <% } else { %>
            <a href="#" class="img_pc" style="background-image: url(<%=item.lgUrl%>)"></a>
            <% } %>
        </div>
    <% } %>


</script>





<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/artTemplate/template-web.js"></script>
<script src="assets/iscroll/iscroll.js"></script>
<script src="js/index.js"></script>






</body>



</html>